/* EXTENDING
input:
    .class {
      border: 1px solid #ccc;
      padding: 10px;
      color: #333;
    }

    .class-two {
      @extend .message;
      border-color: green;
    }

output:
    .class-two {
      border: 1px solid #ccc;
      padding: 10px;
      color: #333;
      border-color: green;
    }
*/

/* MEDIA QUERIES
.sidebar {
    width: 300px;
    @media screen and (orientation: landscape) {
        width: 500px;
    }
}

output:
    .sidebar {
        width: 300px;
    }
    @media screen and (orientation: landscape) {
        .sidebar {
            width: 500px;
        }
    }
*/